[".vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "168h"

# On darwin: see run_once_install_sheldon_darwin.sh.tmpl
{{- if eq .chezmoi.os "linux" }}
[".local/bin/sheldon"]
    type = "file"
    executable = true
    {{- $sheldon_arch := ""}}
    {{- if eq .chezmoi.arch "amd64" }}
        {{- $sheldon_arch = "x86_64"}}
    {{- else }}
        {{- $sheldon_arch = .chezmoi.arch }}
    {{- end }}
    url = "https://github.com/rossmacarthur/sheldon/releases/download/0.7.4/sheldon-0.7.4-{{ $sheldon_arch }}-unknown-linux-musl.tar.gz"
{{- end }}

[".local/bin/mise"]
    type = "file"
    executable = true
    {{- $mise_os := "" }}
    {{- if eq .chezmoi.os "darwin"  }}
        {{- $mise_os = "macos" }}
    {{- else }}
        {{- $mise_os = .chezmoi.os }}
    {{- end }}

    {{- $mise_arch := ""}}
    {{- if eq .chezmoi.arch "amd64" }}
        {{- $mise_arch = "x64"}}
    {{- else }}
        {{- $mise_arch = .chezmoi.arch }}
    {{- end }}
    url = "https://mise.jdx.dev/mise-latest-{{ $mise_os }}-{{ $mise_arch }}"
    refreshPeriod = "168h"
